# FARM pre-0.4.2
-e git://github.com/drellxor/FARM.git@4e0b62f6b2a2e90cb7776d93f08ee833c75f28e5#egg=farm
fastapi
uvicorn
flask_sqlalchemy
pandas
psycopg2-binary
sklearn
elasticsearch
# optional: sentence-transformers